---
- name: Load the OS specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Install the openssh package
  package:
    name: "{{ openssh_pkgs }}"
    state: present

- name: Detect openssh version
  shell: ssh -V 2>&1 | sed -e "s/^OpenSSH_\([0-9]*\.[0-9]*\).*/\1/g"
  register: openssh_version_r
  check_mode: false
  changed_when: false

- set_fact:
    openssh_version: "{{ openssh_version_r.stdout|float }}"
  changed_when: false

- name: Load ssh configuration
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    backup: yes
  notify: reload ssh

# moduli modification
- name: Filter moduli file if not filtered yet
  shell:
    awk '$5 > 2000' /etc/ssh/moduli > "/etc/ssh/moduli.safe"
  args:
    creates: "/etc/ssh/moduli.modified"

- name: Check if resulting moduli is not empty
  stat:
    path: "/etc/ssh/moduli.safe"
  register: stat

- name: Install new moduli if it has significant size
  shell:
    mv /etc/ssh/moduli.safe /etc/ssh/moduli
  args:
    creates: "/etc/ssh/moduli.modified"
  when:
    - stat.stat.exists
    - stat.stat.size|int > 1024
  notify: reload ssh

- name: Ensure moduli will not be touched next time
  file:
    path: "/etc/ssh/moduli.modified"
    state: touch
  changed_when: false
